NEXTAUTH_SECRET="your-secret-key-here-min-32-chars-random"
NEXTAUTH_URL="https://sandybrown-stinkbug-922112.hostingersite.com"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
NODE_ENV=production